In [31]:
from pandas import Series,DataFrame
import numpy as np 
import pandas as pd
#pandas数据结构  series  dataframe
#series
series1= Series(np.array([2,4,7,2,5]).astype(np.float32))
series1

0    2.0
1    4.0
2    7.0
3    2.0
4    5.0
dtype: float32

In [30]:
series2=Series(np.random.randint(100,size=2),index=['a','b'])
#series2.values
#$series2.index
#index search
series2['a']
#dict create series
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000}
s1=[1,2,3,4,5,6]
i1=['Ohio','b','c','Texas','e','Oregon','g']
series3=Series(sdata)
series3
#series4=Series(s1,i1)
series4=Series(sdata,i1)
series4
#update index
#series4.index=[1,2,3,4,5,6,7]
pd.isnull(series4)

Ohio      False
b          True
c          True
Texas     False
e          True
Oregon    False
g          True
dtype: bool

In [61]:
#DataFrame
dataf={'state':['a','b','c','d'],
       'year':[2000,2001,2002,2003],
        'pop':[1.1,1.3,2.1,2.6]}
dataframe1=DataFrame(dataf)
dataframe1
#dataframe1['state']
#dataframe1.year
#dataframe1.columns
#data2=dataframe1.ix(1)
#data2

#NA情况
dataframe2=DataFrame(dataf,columns=['pop','state','year','dept'],index=['one','two','three','four'])
dataframe2.ix['three']

#dataframe2['dept']=1.1
dataframe2['dept']=np.arange(4)
dataframe2
#使用series 给dataframe赋值
val=Series([1.1,1.3,1.4],index=['two','three','one'])
dataframe2['dept']=val
dataframe2

       pop state  year  dept
one    1.1     a  2000   1.4
two    1.3     b  2001   1.1
three  2.1     c  2002   1.3
four   2.6     d  2003   NaN